@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&family=Open+Sans:wght@400;600;700&display=swap');

*{
    margin: 0;
    padding: 0;
}


body{
    font-family: 'Open Sans', sans-serif;
}



/* navigation bar, logo and navigation links */


.navigation-bar{
    background-color: #01311a;
    display: flex;
    justify-content: space-between;
    height: 9vh;
    width: 100%;
}


#logo-text{
    font-family: 'Lato', sans-serif;
    text-transform: lowercase;
    letter-spacing: 1px;
    color: #FFFFFF;
    float: left;
    margin: 4px 0 45px 20px;
}


i{
    float: left;
    font-size: 45px;
    color: #FFFFFF;
    margin: 16px 0 20px 80px;
}


#nav-links, #logo-text{
    line-height: 75px;
}


#nav-links li{
    float: left;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    list-style: none;
    text-transform: uppercase;
    margin: 0.4rem 2rem 1.5rem 1rem;
}


#nav-links li a{
    color: #FFFFFF;
    text-decoration: none;
}


#nav-links li a:hover{
    color: #FF7900;
}


h1{
    font-family: 'Lato', sans-serif;
    text-transform: uppercase;
}


/* travel ireland home image */

#home-section{
    height: 58rem;
    width: 100%;
    overflow: hidden;
}


.home-image{
    height: 780px;
    width: 100%;
    background: url(../images/travel-ireland-home-image-landscape.jpg) no-repeat center center;
}


/* travel ireland home welcoming text */

#welcoming-text{
    font-family: 'Open Sans', sans-serif;
    font-weight: bold;
    font-size: 35px;
    color: #FFFFFF;
    text-align: center;
    top: 120px;
}


.welcoming-text-bg{
    height: 80px;
    width: 100%;
    background-color: #015228;
}


/* travel ireland about us section */

#about-us-section{
    height: auto;
    width: 65%;
    background-color: #015228;
    margin: 4rem auto;
    text-align:center;
    border-radius: 35px;
}


#about-us-group{
    margin: 1.2rem 1rem 0.2rem 0;
}


#about-us-text{
    font-family: 'Lato', sans-serif;
    color: #FFFFFF;
    font-size: 30px;
    margin: 1.5rem 0.5rem 0.1rem 0;
    text-transform: uppercase;
    float: left;
}


hr{
    border-top: 4px solid #FF7900;
    margin-top: 20px;
    padding: 0;
    width: 100%;
}


.about-us{
    font-family: 'Open Sans', sans-serif;
    color: #FFFFFF;
    font-size: 20px;
    margin: 1rem auto;
    float: none;
    height: auto;
    width: 85%;
    text-align: justify;
}
.heading-center{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}


/* travel ireland tour section */

#tours-section {
    height: auto;
    width: 65%;
    background-color: #015228;
    margin: 4rem auto;
    border-radius: 35px;
}


#tours-icon{
    margin: 1.2rem 1rem 0.2rem 0;
}


#tours-heading-text{
    font-family: 'Lato', sans-serif;
    color: #FFFFFF;
    font-size: 30px;
    margin: 1.5rem 0.5rem 0.1rem 0;
    text-transform: uppercase;
    float: left;
}


.tours{
    font-family: 'Open Sans', sans-serif;
    color: #FFFFFF;
    font-size: 20px;
    margin: 0.2rem 2rem 1rem 4.2rem;
    width: 85%;
    text-align: justify;
}

 
#calendar-icon{
    margin: 1.5rem 4rem 0.2rem 48rem;
    font-size: 60px;
}


#tours-image{
    width: 100%;
    padding-bottom: 1rem;
}


.ireland-sheep-field{
    display: block;
    height: auto;
    width: 50%;
    margin: auto;
}


/* popular tours section */


#popular-tours-text{
    font-family: 'Lato', sans-serif;
    color: #FFFFFF;
    background-color: #015228;
    font-size: 2.5rem;
    text-transform: uppercase;
    margin: 2rem 2rem 2rem 2rem;
    padding: 2rem;
    border-radius: 2.5rem;
}


#popular-tours-icon{
    margin: 1.8rem 1rem 0.2rem 10rem;
    font-size: 3rem;
    color: #ffffff;
}


#popular-tours{
    display: grid;

    /* create 3 columns */
    grid-template-columns: [col1] 33% [col2] 33% [col3] 33%;


    /* create 2 rows */
    grid-template-rows: [row1] 50% [row2] 50%;
    

    /* create a margin */
    margin: 2em 2rem 4rem 0;


    /*spacing */
    grid-gap: 0.2rem;


    
    
}


#phoenix-park{
   background-color: #015228;
   color: #FFFFFF;
   padding: 2.5rem;
   border-radius: 3.5rem;
   margin: 2rem 2rem 2rem 2rem;
}


p{
    margin-top: 2rem;
}


.phoenix-park-animals{
    display: block;
    height: 40rem;
    grid-gap: 0.2rem;
    grid-template-columns: repeat(autofit, minmax(2rem, 1fr));
    grid-auto-rows: 10rem;
}


#titantic-quarter{
    background-color: #015228;
    color: #FFFFFF;
    padding: 2.5rem;
    border-radius: 3.5rem;
    margin: 2rem 2rem 2rem 4rem;
}


#peace-bridge{
    background-color: #015228;
    color: #FFFFFF;
    padding: 2.5rem;
    border-radius: 3.5rem;
    margin: 2rem 2rem 2rem 4rem;
}


#the-dark-hedges{
    background-color: #015228;
    color: #FFFFFF;
    padding: 2.5rem;
    border-radius: 3.5rem;
    margin: 2rem 2rem 2rem 4rem;
}


#rossnowlagh-beach{
    background-color: #015228;
    color: #FFFFFF;
    padding: 2.5rem;
    border-radius: 3.5rem;
    margin: 2rem 2rem 2rem 4rem;
}


#rock-of-cashel{
    background-color: #015228;
    color: #FFFFFF;
    padding: 2.5rem;
    border-radius: 3.5rem;
    margin: 2rem 2rem 2rem 4rem;
}


#phoenix-park-popular-tour{
    font-family: 'Lato', sans-serif;
    color: #FFFFFF;
    font-size: 1.6rem;
    text-transform: uppercase;
}


#titantic-quarter-popular-tour{
    font-family: 'Lato', sans-serif;
    color: #FFFFFF;
    font-size: 1.6rem;
    text-transform: uppercase;
}


#peace-bridge-popular-tour{
    font-family: 'Lato', sans-serif;
    color: #FFFFFF;
    font-size: 1.6rem;
    text-transform: uppercase;
}


#the-dark-hedges-popular-tour{
    font-family: 'Lato', sans-serif;
    color: #FFFFFF;
    font-size: 1.6rem;
    text-transform: uppercase;
}


#rossnowlagh-beach-popular-tour{
    font-family: 'Lato', sans-serif;
    color: #FFFFFF;
    font-size: 1.6rem;
    text-transform: uppercase;
}


#rock-of-cashel-popular-tour{
    font-family: 'Lato', sans-serif;
    color: #FFFFFF;
    font-size: 1.6rem;
    text-transform: uppercase;
}


#popular-tours-images-inspiration{
    font-family: 'Lato', sans-serif;
    color: #FFFFFF;
    background-color: #015228;
    font-size: 2.5rem;
    margin: 10rem 2rem 2rem 2rem;
    padding: 2rem;
    border-radius: 2.5rem;
}


#popular-tours-images-icon{
    margin: 0 1rem 0.2rem 1.8rem;
    font-size: 3rem;
}


#popular-tour-images{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(7, 35vw);
    grid-gap: 1.5rem;
    grid-auto-flow: dense;

}


.popular-tour-images{
    height: 30rem;
    width: 30rem;
    object-fit: cover;
    margin: 2rem 0 0rem 0rem;
    padding: 2rem 0.1rem 0rem 0.1rem;
}


/* transport section */


#transport{
    font-family: 'Lato' sans-serif;
    font-weight: normal;
    color: #FFFFFF;
    background-color: #015228;
    font-size: 2.5rem;
    text-transform: uppercase;
    margin: 0 2rem 2rem 5.8rem;
    padding: 2rem;
    border-radius: 2.5rem;
}


#transport-icon{
    margin: 2.2rem 1rem 0.2rem 10rem;
    font-size: 3rem;
    color: #FFFFFF;
}


#tour-transport{
    display: grid;

    /* create 3 columns */
    grid-template-columns: [col1] 33% [col2] 33% [col3] 33%;


    /* create 2 rows */
    grid-template-rows: [row1] 50% [row2] 50%;


    /*spacing */
    grid-gap: 0.2rem;


     /* create a margin */
     margin: 4rem 2rem 4rem 2rem;


}


#phoenix-park-transport{
    font-family: 'Lato', sans-serif;
    color: #FFFFFF;
    font-size: 1.6rem;
    text-transform: uppercase;
}


#titanic-quarter-transport{
    font-family: 'Lato', sans-serif;
    color: #FFFFFF;
    font-size: 1.6rem;
    text-transform: uppercase;
}


#peace-bridge-transport{
    font-family: 'Lato', sans-serif;
    color: #FFFFFF;
    font-size: 1.6rem;
    text-transform: uppercase;
}


#the-dark-hedges-transport{
    font-family: 'Lato', sans-serif;
    color: #FFFFFF;
    font-size: 1.6rem;
    text-transform: uppercase;
}


#rossnowlagh-beach-transport{
    font-family: 'Lato', sans-serif;
    color: #FFFFFF;
    font-size: 1.6rem;
    text-transform: uppercase;
}


#rock-of-cashel-transport{
    font-family: 'Lato', sans-serif;
    color: #FFFFFF;
    font-size: 1.6rem;
    text-transform: uppercase;
}


#transport-map{
    display: block;
    height: 80rem;
    width: 100%;
    background: url(../images/travel-ireland-static-map.png) no-repeat center center;
    margin: 20rem 20rem 0rem 0;
}


/* restauarants section */


#restaurant{
    font-family: 'Lato', sans-serif;
    color: #FFFFFF;
    background-color: #015228;
    font-size: 2.5rem;
    text-transform: uppercase;
    margin: 15rem 2rem 2rem 5.8rem;
    padding: 2rem;
    border-radius: 2.5rem;
}


#restaurant-icon{
    margin: 2.2rem 1rem 0.2rem 10rem;
    font-size: 3rem;
    color: #ffffff;
}


#tours-restaurant{
    display: grid;

    /* create 3 columns */
    grid-template-columns: [col1] 33% [col2] 33% [col3] 33%;


    /* create 2 rows */
    grid-template-rows: [row1] 50% [row2] 50%;


    /*spacing */
    grid-gap: 0.2rem;

     /* create a margin */
     margin: 5rem 2rem 4rem 4.5rem;

}


#phoenix-park-restaurant{
    font-family: 'Lato', sans-serif;
    color: #FFFFFF;
    font-size: 1.6rem;
    text-transform: uppercase;
}


#titantic-quarter-restaurant{
    font-family: 'Lato', sans-serif;
    color: #FFFFFF;
    font-size: 1.6rem;
    text-transform: uppercase;
}


h4{
    font-family: 'Lato', sans-serif;
    font-size: 1.1rem;
    margin-top: 2rem;
}


#peace-bridge-restaurant{
    font-family: 'Lato', sans-serif;
    color: #FFFFFF;
    font-size: 1.6rem;
    text-transform: uppercase;
}


#the-dark-hedges-restaurant{
    font-family: 'Lato', sans-serif;
    color: #FFFFFF;
    font-size: 1.6rem;
    text-transform: uppercase;
}


#rossnowlagh-beach-restaurant{
    font-family: 'Lato', sans-serif;
    color: #FFFFFF;
    font-size: 1.6rem;
    text-transform: uppercase;
}


#rock-of-cashel-restaurant{
    font-family: 'Lato', sans-serif;
    color: #FFFFFF;
    font-size: 1.6rem;
    text-transform: uppercase;
}


/* accommodation section */


#accommodation{
    font-family: 'Lato', sans-serif;
    color: #FFFFFF;
    background-color: #015228;
    font-size: 2.5rem;
    text-transform: uppercase;
    margin: 15rem 2rem 2rem 5.8rem;
    padding: 2rem;
    border-radius: 2.5rem;
}


#accommodation-icon{
    margin: 2.2rem 1rem 0.2rem 10rem;
}


#tours-accommodation{
    display: grid;

    /* create 3 columns */
    grid-template-columns: [col1] 33% [col2] 33% [col3] 33%;


    /* create 2 rows */
    grid-template-rows: [row1] 50% [row2] 50%;


    /*spacing */
    grid-gap: 0.2rem;

    /* create a margin */
    margin: 5rem 2rem 4rem 4.5rem;

}


#phoenix-park-hotel{
    font-family: 'Lato', sans-serif;
    color: #FFFFFF;
    font-size: 1.6rem;
    text-transform: uppercase;
}


#titanic-quarter-hotel{
    font-family: 'Lato', sans-serif;
    color: #ffffff;
    font-size: 1.6rem;
    text-transform: uppercase;
}


#peace-bridge-hotel{
    font-family: 'Lato', sans-serif;
    color: #FFFFFF;
    font-size: 1.6rem;
    text-transform: uppercase;
}


#the-hedges-hotel{
    font-family: 'Lato', sans-serif;
    color: #FFFFFF;
    font-size: 1.6rem;
    text-transform: uppercase;
}


#the-sandhouse-hotel{
    font-family: 'Lato', sans-serif;
    color: #FFFFFF;
    font-size: 1.6rem;
    text-transform: uppercase;
}


#cashel-palace-hotel{
    font-family: 'Lato', sans-serif;
    color: #FFFFFF;
    font-size: 1.6rem;
    text-transform: uppercase;
}


.hotel{
    margin-top: 2rem;
}


/* contact us section */


#contact-us-section{
    margin: 15rem 2rem 8rem 5.8rem;
    padding: 2rem;
}


#contact-us{
    font-family: 'Lato', sans-serif;
    color: #ffffff;
    background-color: #01522A;
    font-size: 2.5rem;
    text-transform: uppercase;
    padding: 2rem;
    border-radius: 5.8rem;
}


#contact-us-icon{
    margin: 2rem 1rem 0.2rem 5rem;
    font-size: 3rem;
}


#contact-us-form{
    background-color: #01522A;
    color: #FFFFFF;
    height: auto;
    width: 70%;
    padding: 4rem;
    display: flex;
    flex-direction:column;
    margin: 4rem 4rem 3rem 9rem;
    justify-content: space-between;
}


.contact-us-form{
    font-family: 'Lato', sans-serif;
    color: #ffffff;
    font-size: 1.5rem;
    margin-bottom: 1rem;
    text-decoration: underline;
}


#contact-us-form input{
    padding: 1.5%;
    margin-bottom: 1%;
}


#contact-message{
    font-family: 'Open Sans', sans-serif;
}


#send-message{
    height: 6rem;
    margin: 1rem 0 0 0;
}


.button{
    padding: 2%;
    margin:1%; 
    background: #FF7900;
    color: #FFF;
    font-size: 20px;
    border: 0;
}


.button:hover{
    opacity: 0.6;
}



/* footer section */


.back-to-home{
    font-family: 'Open Sans', sans-serif;
    color: #ffffff;
    position: sticky;
    margin: 0.4rem 2rem 1rem 4rem;
    padding: 10px;
    border-radius: 10rem;
    text-transform: uppercase;
}


.back-to-home:hover{
    color: #FF7900;
}


#footer-section{
    height: 15vh;
    max-width: 100%;
    background-color: #01311a;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    padding: 3rem;

}


.footer-text{
    color: #FFFFFF;
    margin-left: 4rem;
    margin-top: 6rem
    padding: 2rem;
}


/* MOBILE : max-width: 479px */
@media only screen and (min-width:0px) and (max-width:479px){


i{
    margin: 0.1rem 0 2rem 1rem;
    font-size: 2rem;
}

    
.about-us{
    text-align: left;
}
    
    
#about-us-section{
    width: 60%;
}


.tours{
    text-align: left;
}


#tours-section{
    width: 50%
}


.restaurant{
    text-align: left;
}


#restuarants-section{
    width: 90%
}


.accommodation{
    text-align: left;
}


#accommodation-section{
    width: 90%;
}


#contact-us-form{
    text-align: left;
}


#contact-us-section: {
    width: 95%;
}


#footer-section{
    height: 10rem;
    text-align: left;
    padding: 1.8rem;
    display: flex;
    justify-content: space-around;
}


/*do same for tours as above*/

#popular-tours{
    grid-template-columns: [col1] 100%; 
    margin: 2rem auto;
}


#popular-tours div{
    margin: 2rem 2rem 2rem 2rem;
}


#tour-transport{
    grid-template-columns: [col1] 100%; 
    margin: 2rem auto;
}


#tour-transport div{
    margin: 2rem 2rem 2rem 2rem;
}


#popular-tour-images{
    grid-template-rows: none;
}


#transport-map{
    height:auto; 
    min-height: 40rem;
    object-fit: scale-down;
    background-size: 100% auto;
}


#tours-restaurant{
    grid-template-columns: [col1] 100%;
    margin: 2rem auto;
}


#tours-restaurant div{
    margin: 2rem 2rem 2rem 2rem;
}


#tours-accommodation{
    grid-template-columns: [col1] 100%;
    margin: 2rem auto;
}


#tours-accommodation div{
    margin: 2rem 2rem 2rem 2rem;
}


}

