@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&family=Open+Sans:wght@400;600;700&display=swap');

*{
    margin: 0;
    padding: 0;
}


body{
    font-family: 'Open Sans', sans-serif;
}



/* navigation bar, logo and navigation links */


.navigation-bar{
    background-color: #01311a;
    display: flex;
    justify-content: space-between;
    height: 9vh;
    width: 100%;
}


#travel-ireland-logo-text{
    font-family: 'Lato', sans-serif;
    text-transform: lowercase;
    letter-spacing: 1px;
    color: #FFFFFF;
    float: left;
    margin: 4px 0 45px 20px;
}


i{
    float: left;
    font-size: 45px;
    color: #FFFFFF;
    margin: 16px 0 20px 80px;
}


#travel-ireland-nav-links, #travel-ireland-logo-text{
    line-height: 75px;
}


#travel-ireland-nav-links li{
    float: left;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    list-style: none;
    text-transform: uppercase;
    margin: 4px 20px 15px 10px;
}


#travel-ireland-nav-links li a{
    color: #FFFFFF;
    text-decoration: none;
}


#travel-ireland-nav-links li a:hover{
    color: #FF7900;
}


h1{
    font-family: 'Lato', sans-serif;
    text-transform: uppercase;
}