@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&family=Open+Sans:wght@400;600;700&display=swap');

*{
    margin: 0;
    padding: 0;
}


body{
    font-family: 'Open Sans', sans-serif;
}



/* navigation bar, logo and navigation links */


.navigation-bar{
    background-color: #01311a;
    display: flex;
    justify-content: space-between;
    height: 9vh;
    width: 100%;
}


#logo-text{
    font-family: 'Lato', sans-serif;
    text-transform: lowercase;
    letter-spacing: 1px;
    color: #FFFFFF;
    float: left;
    margin: 4px 0 45px 20px;
}


i{
    float: left;
    font-size: 45px;
    color: #FFFFFF;
    margin: 16px 0 20px 80px;
}


#nav-links, #logo-text{
    line-height: 75px;
}


#nav-links li{
    float: left;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    list-style: none;
    text-transform: uppercase;
    margin: 4px 20px 15px 10px;
}


#nav-links li a{
    color: #FFFFFF;
    text-decoration: none;
}


#nav-links li a:hover{
    color: #FF7900;
}


h1{
    font-family: 'Lato', sans-serif;
    text-transform: uppercase;
}


/* travel ireland home image */

#thome-section{
    height: 1000px;
    width: 100%;
    overflow: hidden;
}


.home-image{
    height: 780px;
    width: 100%;
    background: url(../images/travel-ireland-home-image-landscape.jpg) no-repeat center center;
}


/* travel ireland home welcoming text */

#welcoming-text{
    font-family: 'Open Sans', sans-serif;
    font-weight: bold;
    font-size: 35px;
    color: #FFFFFF;
    text-align: center;
    top: 120px;
}


.welcoming-text-bg{
    height: 80px;
    width: 100%;
    background-color: #015228;
}


/* travel ireland about us section */

#about-us-section{
    height: 360px;
    width: 65%;
    background-color: #015228;
    margin: 2px 0 0 290px;
    text-align:center;
    border-radius: 35px;
}


#about-us-group{
    margin: 10px 40px 2px 300px;
}


#about-us-text{
    color: #FFFFFF;
    font-size: 30px;
    margin: 15px 5px 1px 0;
    float: left;
}


hr{
    border-top: 4px solid #FF7900;
    margin-top: 20px;
    padding: 0;
    width: 100%;
}


.about-us{
    font-family: 'Open Sans', sans-serif;
    color: #FFFFFF;
    font-size: 20px;
    margin: 2px 20px 10px 10px;
    float: left;
}


/* travel ireland tour section */

#tours-section {
    height: 360px;
    width: 65%;
    background-color: #015228;
    margin: 100px 0 0 290px;
    text-align: center;
    border-radius: 35px;
}


#tours-icon{
    margin: 10px 40px 2px 300px;
}


#tours-heading-text{
    color: #FFFFFF;
    font-size: 30px;
    margin: 15px 5px 1px 0;
    float: left;
}


#tours{
    font-family: 'Open Sans', sans-serif;
    color: #FFFFFF;
    font-size: 20px;
    margin: 2px 20px 10px 10px;
}


/* travel ireland popular tours section */


#travel-ireland-popular-tours-section{

}


#popular-tours{

}


.selected-tour{
    
}